@media (min-width: 1025px){
	.contact{
		margin-top: 100px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contact h2{
		width: 75%;
		text-align: center;
		border-bottom: 1px solid black;
	}
	.form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.input{
		width: 250px;
		height: 30px;
		margin: 15px auto;
		padding: 5px;
		border: none;
		border-radius: 10px;
		background: rgb(220, 220, 220);
	}
	.form textarea{
		width: 400px;
		height: 400px;
		margin: 15px auto;
		padding: 5px;
		border: none;
		border-radius: 10px;
		background: rgb(220, 220, 220);
	}
	.error{
		font-size: 10px;
		color: red;
	}
	.checkbox{
		margin: 10px;
		margin-bottom: 30px;
	}
	.form label a{
		color: blue;
	}
	.form button{
		width: 100px;
		height: 20px;
		border: none;
		border-radius: 10px;
		background: rgb(220, 220, 220);
	}
	.contactsContainer{
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		display: flex;
		justify-content: center;
		margin-top: 50px;
		background: rgba(0, 0, 0, 0.7);
	}
	.contactsContainer ul, li, a{
		width: 150px;
		list-style: none;
		text-decoration: none;
		color: white;
	}
	.contactIcon{
		width: 20px;
	}
}
@media (max-width: 1024px){
	.contact{
		margin-top: 100px;
		margin-bottom: 100px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contact h2{
		width: 75%;
		text-align: center;
		border-bottom: 1px solid black;
	}
	.form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.form input{
		width: 200px;
		height: 10px;
		margin: 10px auto;
		padding: 5px;
		border: none;
		border-radius: 10px;
		background: rgb(220, 220, 220);
	}
	.form textarea{
		width: 250px;
		height: 200px;
		margin: 10px auto;
		padding: 5px;
		border: none;
		border-radius: 10px;
		background: rgb(220, 220, 220);
	}
	.form button{
		width: 100px;
		height: 20px;
		border: none;
		border-radius: 10px;
		background: rgb(220, 220, 220);
	}
	.contactsContainer{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}
	.contactsContainer ul, li, a{
		width: 250px;
		list-style: none;
		text-decoration: none;
		color: black;
	}
	.contactIcon{
		width: 20px;
	}

}